<div class="header">
  <h1>
    Conding Kata - Schere Stein Papier
  </h1>
  <h3>Score:
    <small>Computer: {{scoreComputer}} Player: {{scorePlayer}}</small>
  </h3>
</div>

<div class="body">
  <div class="row">
    <div class="column">
      Computer:
      <div [ngSwitch]="computer">
        <div *ngSwitchCase="gestureTypes.Rock">
          Stein
        </div>
        <div *ngSwitchCase="gestureTypes.Paper">
          Papier
        </div>
        <div *ngSwitchCase="gestureTypes.Scissors">
          Schere
        </div>
      </div>
    </div>

    <div [ngClass]="{}" class="column">
      <div [ngSwitch]="result">
        <div *ngSwitchCase="resultTypes.None">
          Starte ein neues Spiel
        </div>
        <div *ngSwitchCase="resultTypes.Drawn">
          Es ist unentschieden
        </div>
        <div *ngSwitchCase="resultTypes.Winner">
          Du hast gewonnen
        </div>
        <div *ngSwitchCase="resultTypes.Loser">
          Du hast verloren
        </div>
      </div>
    </div>

    <div class="column">
      Player:
      <div [ngSwitch]="player">
        <div *ngSwitchCase="gestureTypes.Rock">
          Stein
        </div>
        <div *ngSwitchCase="gestureTypes.Paper">
          Papier
        </div>
        <div *ngSwitchCase="gestureTypes.Scissors">
          Schere
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  Wähle deine Hand:
  <button (click)="startGame(gestureTypes.Scissors)">Schere</button>
  <button (click)="startGame(gestureTypes.Rock)">Stein</button>
  <button (click)="startGame(gestureTypes.Paper)">Papier</button>
</div>