.header {
    text-align: center;
}

.body {
    height: 100px;
}

.row {
    display: flex;
}

.column {
    text-align: center;
    flex: 30%;
    padding: 10px;
}

.footer {
    text-align: center;
}